In [54]:
import requests
import lxml.html
import pandas as pd
import numpy as np

In [12]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [24]:
doc = lxml.html.fromstring(website_url.content)

In [14]:
tree = lxml.html.fromstring(website_url.text)

In [25]:
tr_elements = doc.xpath('//tr')

In [26]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [27]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print '%d:"%s"'%(i,name)
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [28]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [29]:
[len(C) for (title,C) in col]

[288, 288, 288]

In [99]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [67]:
df.head()

            Borough     Neighbourhood\n Postcode
0      Not assigned      Not assigned\n      M1A
1      Not assigned      Not assigned\n      M2A
2        North York         Parkwoods\n      M3A
3        North York  Victoria Village\n      M4A
4  Downtown Toronto      Harbourfront\n      M5A

In [68]:
c = df.columns[1]

In [44]:
c

'Neighbourhood\n'

In [100]:
df = df[['Postcode', 'Borough', c]]

In [101]:
df['Neighborhood'] = df[c]

In [102]:
df.drop([c],axis=1,inplace=True)

In [72]:
df.head()

  Postcode           Borough        Neighborhood
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [103]:
df['Neighborhood'].replace('Not assigned\n', np.nan,inplace=True)

In [104]:
df.at[8 , 'Neighborhood'] = "Queen's Park"

In [105]:
df.head(10)

  Postcode           Borough        Neighborhood
0      M1A      Not assigned                 NaN
1      M2A      Not assigned                 NaN
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
7      M6A        North York    Lawrence Manor\n
8      M7A      Queen's Park        Queen's Park
9      M8A      Not assigned                 NaN

In [106]:
df.dropna(inplace=True)

In [107]:
df.head(10)

   Postcode           Borough        Neighborhood
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park        Queen's Park
10      M9A         Etobicoke  Islington Avenue\n
11      M1B       Scarborough             Rouge\n
12      M1B       Scarborough           Malvern\n

In [108]:
df = df.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

In [112]:
df.head(20)

   Postcode      Borough                                       Neighborhood
0       M1B  Scarborough                                 Rouge\n, Malvern\n
1       M1C  Scarborough       Highland Creek\n, Rouge Hill\n, Port Union\n
2       M1E  Scarborough            Guildwood\n, Morningside\n, West Hill\n
3       M1G  Scarborough                                           Woburn\n
4       M1H  Scarborough                                        Cedarbrae\n
5       M1J  Scarborough                              Scarborough Village\n
6       M1K  Scarborough  East Birchmount Park\n, Ionview\n, Kennedy Park\n
7       M1L  Scarborough              Clairlea\n, Golden Mile\n, Oakridge\n
8       M1M  Scarborough  Cliffcrest\n, Cliffside\n, Scarborough Village...
9       M1N  Scarborough                    Birch Cliff\n, Cliffside West\n
10      M1P  Scarborough  Dorset Park\n, Scarborough Town Centre\n, Wexf...
11      M1R  Scarborough                              Maryvale\n, Wexford\n
12      M1S  Scarborough                                        Agincourt\n
13      M1T  Scarborough      Clarks Corners\n, Sullivan\n, Tam O'Shanter\n
14      M1V  Scarborough  Agincourt North\n, L'Amoreaux East\n, Milliken...
15      M1W  Scarborough                                  L'Amoreaux West\n
16      M1X  Scarborough                                      Upper Rouge\n
17      M2H   North York                                Hillcrest Village\n
18      M2J   North York                 Fairview\n, Henry Farm\n, Oriole\n
19      M2K   North York                                  Bayview Village\n

I had some issues trying to use BeatifulSoup so I used xlml.html. I got a prrety result I guess, and after reading a while about how to join duplicated postcodes I got the data frame listed above

In [114]:
df_tor = pd.read_csv('Geospatial_Coordinates.csv')

In [115]:
df_tor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [119]:
df.join(df_tor.set_index('Postal Code'), on='Postcode')

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge\n, Malvern\n",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek\n, Rouge Hill\n, Port Union\n",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood\n, Morningside\n, West Hill\n",43.763573,-79.188711
3,M1G,Scarborough,Woburn\n,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae\n,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village\n,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park\n, Ionview\n, Kennedy Park\n",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea\n, Golden Mile\n, Oakridge\n",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest\n, Cliffside\n, Scarborough Village...",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff\n, Cliffside West\n",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park\n, Scarborough Town Centre\n, Wexf...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale\n, Wexford\n",43.750072,-79.295849
12,M1S,Scarborough,Agincourt\n,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners\n, Sullivan\n, Tam O'Shanter\n",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North\n, L'Amoreaux East\n, Milliken...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West\n,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge\n,43.836125,-79.205636
17,M2H,North York,Hillcrest Village\n,43.803762,-79.363452
18,M2J,North York,"Fairview\n, Henry Farm\n, Oriole\n",43.778517,-79.346556
19,M2K,North York,Bayview Village\n,43.786947,-79.385975
20,M2L,North York,"Silver Hills\n, York Mills\n",43.757490,-79.374714
21,M2M,North York,"Newtonbrook\n, Willowdale\n",43.789053,-79.408493
22,M2N,North York,Willowdale South\n,43.770120,-79.408493
23,M2P,North York,York Mills West\n,43.752758,-79.400049
24,M2R,North York,Willowdale West\n,43.782736,-79.442259
25,M3A,North York,Parkwoods\n,43.753259,-79.329656
26,M3B,North York,Don Mills North\n,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park\n, Don Mills South\n",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor\n, Downsview North\n, Wilson He...",43.754328,-79.442259
29,M3J,North York,"Northwood Park\n, York University\n",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale\n,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks\n,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie\n,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village\n, Dufferin\n",43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal\n, Trinity\n",43.647927,-79.419750
78,M6K,West Toronto,"Brockton\n, Exhibition Place\n, Parkdale Villa...",43.636847,-79.428191
79,M6L,North York,"Downsview\n, North Park\n, Upwood Park\n",43.713756,-79.490074
80,M6M,York,"Del Ray\n, Keelesdale\n, Mount Dennis\n, Silve...",43.691116,-79.476013
81,M6N,York,"The Junction North\n, Runnymede\n",43.673185,-79.487262
82,M6P,West Toronto,"High Park\n, The Junction South\n",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale\n, Roncesvalles\n",43.648960,-79.456325
84,M6S,West Toronto,"Runnymede\n, Swansea\n",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre\n,43.636966,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 East...,43.662744,-79.321558
88,M8V,Etobicoke,"Humber Bay Shores\n, Mimico South\n, New Toron...",43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood\n, Long Branch\n",43.602414,-79.543484
90,M8X,Etobicoke,"The Kingsway\n, Montgomery Road\n, Old Mill No...",43.653654,-79.506944
91,M8Y,Etobicoke,"Humber Bay\n, King's Mill Park\n, Kingsway Par...",43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West\n, Mimico NW\n, The Q...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue\n,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale\n, Islington\n, Martin Grove\n, Pri...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens\n, Eringate\n, Markland Wood...",43.643515,-79.577201
96,M9L,North York,Humber Summit\n,43.756303,-79.565963
97,M9M,North York,"Emery\n, Humberlea\n",43.724766,-79.532242
98,M9N,York,Weston\n,43.706876,-79.518188
99,M9P,Etobicoke,Westmount\n,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village\n, Martin Grove Gardens\n, R...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens\n, Beaumond Heights\n, Humberga...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest\n,43.706748,-79.594054